.section-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    scroll-margin-top: 60px;
    padding: 4rem ;
    background-color: #121212;
}

.section-form-container > h4 {
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 1.2px;
}

.card-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: #ffffff;
}

.card-form > label {
    font-size: 16px;
    letter-spacing: 0.8px;
}

.card-form > input {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: black;
}

.card-form > textarea {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: black;
}

.btn-form {
    padding: 0.5rem 1rem;
    background-color: red;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    letter-spacing: 0.6px;
    font-size: 14px;
    margin-top: 12px;
    cursor: pointer;
}

.card-form-container > .result {
    color: #ffffff;
    text-align: justify;
    padding: 1rem 2rem;
}
